.logo img{
    width: 40px;
    float: left;
}
.logo p{
    float: left;
    padding-left: 10px;
    color: goldenrod;
}
.logo{
    margin-left: 30px;
}

.navItems li{
    list-style: none;
    float: right;
    padding: 20px;
}
a{
    color: white;
}
a:hover{
    color: orange;
}
#top{
    text-align: center;
    padding: 20px;
}
#email{
    margin: 10px;
    border: 2px solid rgb(26, 23, 6);
    padding: 2px 5px;
    border-radius: 5px;
}
#btn{
    margin: 10px;
    padding: 2px 5px;
    width: 100px;
    border: 2px solid rgb(26, 23, 6);
    border-radius: 5px;
    background-color: goldenrod;
}
#description{
   display: grid;
   justify-content: center;
   margin-top: 40px;
}
#allIcon{
    margin-right: 30px;
}
.p{
    margin-left: 60px;
}
.video{
    margin: 40px;
    text-align: center;
}
.cardBody{
    text-align: center;
}
.card-gap{
    column-gap: 40px;
}
footer{
    max-width: 80%;
    text-align: end;
    font-size: x-small;
    font-weight: 700;
}